In [32]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import os

db_password = os.environ.get("DB_PASSWORD")

In [33]:
data = pd.read_csv(r"C:\Users\admin\Downloads\covid_19_data.csv")

In [34]:
# view the top five rows in the data
data.head()

,SNo,ObservationDate,Province,Country,LastUpdate,Confirmed,Deaths,Recovered
0,1,01/10/2020,Anhui,Mainland China,01/10/2020 17:00,1,0,0
1,2,01/11/2020,Beijing,Mainland China,01/11/2020 17:00,14,0,0
2,3,01/12/2020,Chongqing,Mainland China,01/12/2020 17:00,6,0,0
3,4,1/13/2020,Fujian,Mainland China,1/13/2020 17:00,1,0,0
4,5,1/13/2020,Gansu,Mainland China,1/13/2020 17:00,0,0,0

In [35]:
# view the bottom five rows in the data
data.tail()

,SNo,ObservationDate,Province,Country,LastUpdate,Confirmed,Deaths,Recovered
508,509,8/16/2020,NaN,Philippines,1/31/2020 23:59,1,0,0
509,510,8/17/2020,NaN,India,1/31/2020 23:59,1,0,0
510,511,8/18/2020,NaN,Sweden,1/31/2020 23:59,1,0,0
511,512,8/19/2020,Unknown,China,1/31/2020 23:59,0,0,0
512,513,8/20/2020,NaN,Kiribati,1/31/2020 23:59,0,0,0

In [39]:
# provive a general overview of the data 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              513 non-null    int64
 1   ObservationDate  513 non-null    object
 2   Province         400 non-null    object
 3   Country          513 non-null    object
 4   LastUpdate       513 non-null    object
 5   Confirmed        513 non-null    int64
 6   Deaths           513 non-null    int64
 7   Recovered        513 non-null    int64
dtypes: int64(4), object(4)
memory usage: 32.2+ KB

In [40]:
data.columns = data.columns.str.lower()

In [41]:
# Explore missing data within your data
data.isnull().sum()

sno                  0
observationdate      0
province           113
country              0
lastupdate           0
confirmed            0
deaths               0
recovered            0
dtype: int64

In [ ]:
# Lets take a look at the missing data in the Province column
data[data['Province'].isnull()].head()

In [ ]:
# Fill in the missinng data in the province column
data['province'].fillna('unkown',inplace=True)

In [20]:
data.isnull().sum()

SNo                  0
ObservationDate      0
Province           113
Country              0
LastUpdate           0
Confirmed            0
Deaths               0
Recovered            0
dtype: int64

In [ ]:
# Load the dataset into the database
# Database credentials
db_username = 'postgres'
db_password = os.environ.get("DB_PASSWORD")
db_host = 'localhost'
db_port ='5432'
db_name = 'postgres'

In [ ]:
#  Establish a connection using SQLAlchemy engine
connection = create_engine(f'postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}')

In [ ]:
# Load the dataset into the posgre database
data.to_sql('covid_table', connection, if_exists='replace', index=False)

# Close the connection
connection.dispose()

In [42]:
print(data.columns)

Index(['sno', 'observationdate', 'province', 'country', 'lastupdate',
       'confirmed', 'deaths', 'recovered'],
      dtype='object')

In [43]:
print(data.dtypes)

sno                 int64
observationdate    object
province           object
country            object
lastupdate         object
confirmed           int64
deaths              int64
recovered           int64
dtype: object

In [44]:
data['lastupdate'] = pd.to_datetime(data['lastupdate'])
data['observationdate'] = pd.to_datetime(data['observationdate'])